* {
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

html, body {
    margin:0;
    padding:0;
}


section {
    position: relative;
    border: 1px solid black;
    margin:1%;
    padding:10px;
    padding-top:35px;
    padding-bottom:10px;
    background-color: rgb(78, 60, 145);
    width:30.75%;
    float:left;
    height:200px;
    overflow: hidden;
}

section#sec1 {
    margin-left:2%;
}


#t1 {
    background-color: rgb(255, 0, 149);
}

#t2 {
    background-color: rgb(13, 62, 71);
    color: white;
}

#t3 {
    background-color: rgb(123, 255, 0)
}

h1 {
    display: block;
    text-align: center;
}

h2 {
    position:absolute;
    top:0;
    right:0;
    margin: auto;
    width: 150px;
    text-align: center;
    border: 1px solid black;
}


@media (min-width:768px) and (max-width:991px) {
    
    section#sec1, section#sec2 {
        width: 42.5%;
        margin:5%;
    }

    section#sec1 {
        margin-right:2.5%;
    }

    section#sec2 {
        margin-left:2.5%;
    }

    section#sec3 {
        clear:left;
        width: 90%;
        margin:5%;
        margin-top:0%;
    }

} 

@media (max-width:767px) {


    section#sec1, section#sec2, section#sec3 {
        float:none;
        width: 80%;
        margin:5%;
        margin-left:10%;
        margin-right:10%;
    }
    
}